body {
background-color: #DB9E97;}
.sobre {
    width: 100%;
    background-color: #DB9E97;
}

.sobre__imagem {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2rem;
    border-radius: 5px;
}

.sobre__titulo {
    text-align: center;
    font-family: 'Crimson Text';
    font-weight: 700;
    font-display: swap;
    margin-top: 1rem;
    font-size: 45px;    
}

.sobre__subtitulo {
    text-align: center;
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 25px;
}

.sobre__texto {
    text-align: center;
    margin-top: 1rem;
    font-family: "Crimson text", sans-serif;
    font-weight: 400;
}

.portfolio {
    width: 100%;
}

.portfolio__titulo {
    text-align: center;
    font-family: "Crimson text", sans-serif;
    font-weight: 700;
    font-size: 45px;
    margin-top: 1.5rem;
}
.portfolio__imagem {
    width: 80%;
    margin-top: 2rem;
    margin-left: 10%;
}

.portfolio__titulo___imagem {
    text-align: center;
    font-family: "Crimson text", sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-top: 1rem;
}

.portfolio__descricao {
    text-align: center;
    font-family: "Crimson text", sans-serif;
    font-weight: 400;
}